{% block title %}Log in!{% endblock %}

{% block body %}
/* <section class="section hero" id="home" style="background-image: url('./assets/images/hero-bg.png'); margin: 0%;" aria-label="hero"> */
    <div class="container">
        <div class="form-container">
            <h4>Login</h4>
            <hr><br><br>
            <form id="loginForm" method="post" onsubmit="return verifyCaptcha()">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="form-section">
                    <div class="form-field">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-field">
                        <label for="mdp">Password:</label>
                        <input type="password" id="password" name="password" style="width: 100%; height: 40px; border: 1px solid #ccc; border-radius: 5px;">
                    </div>

                    <div class="form-field">
                        <label for="remember_me">Remember Me:</label>
                        <input type="checkbox" id="remember_me" name="remember_me" value="1">
                    </div>
                </div><br>
                <div class="mb-3">
                    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                    <div class="g-recaptcha" data-sitekey="6LesK4gpAAAAALosDjeMzwqyYcj_4G76QX0a3HdG"></div>
                </div>
                <button type="submit" class="btn">Login</button>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form><br><br>

            </div>
        <figure class="hero-banner">
/*             <img src="./assets/images/bg.svg" width="587" height="839" alt="hero banner" class="w-100"> */
            <center><h1>Welcome back</h1><center>
        </figure>
    </div>
    <script>
        function verifyCaptcha() {
            var recaptchaResponse = grecaptcha.getResponse();
            if (recaptchaResponse === '') {
                alert('Please complete the reCAPTCHA verification.');
                return false; // Prevent form submission
            } else {
                // Proceed with form submission
                return true;
            }
        }
    </script>
</section>

{% endblock %}