{% extends 'base.html.twig' %}

{% block title %}Edit Questions{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Edit Question</h1>
        <a class="btn btn-round btn-sm mb-0 btn-outline-primary" href="{{ path('app_questions_index') }}">Back to list</a>
    </div>

    {{ include('questions/_form.html.twig', {'button_label': 'Update',attr:{novalidate:'novalidate'}}) }}
{% endblock %}
