{% extends 'base.html.twig' %}

{% block title %}New Quizz{% endblock %}

{% block body %}
    <h1>Create new Quizz</h1>

    {{ include('quizz/_form.html.twig') }}

    <a href="{{ path('app_quizz_index') }}">back to list</a>
{% endblock %}
